@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Raleway:wght@400;700&display=swap');

canvas {  
    /* position: absolute; */
    /* z-index: -1; */
}

canvas:focus {
    outline: none;
}

html {
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 1.6em;
    cursor: none;

}

.cursor-container {
    display: relative;
    pointer-events: none;

    /* width: 100%; */
    /* height: 100%; */
}

.cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
    left: 0;
    top: 0;
}

svg .cursor-bigPart {
    transform-origin: center;
    /* opacity: 0; */
    transform: scale(0) rotate(0deg);
    /* transition: opacity 400ms linear; */
    /* animation: blow 400ms linear; */
    transition: transform 200ms linear;

}

@keyframes blow {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(1.55);
    }

    100% {
        transform: scale(0.9);
    }
}

nav {
    height: 50px;
    /* border: 2px solid blue; */
    width: 100%;
}

.model-container {
    min-width: 200px;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    z-index: 1;
}

.images-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: lemonchiffon;
    opacity: 0.1;
}

.model {
    width: 100%;
    height: 100%;

    /* visibility: hidden; */
    /* border: 2px solid red; */

    /* top: 50%; */
    /* left: 50%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    z-index: 2;
    pointer-events: none;


    /* align-items: center; */
    /* border: 3px solid rgb(205, 62, 62); */
    /* position: absolute; */
    /* border: 2px solid pink; */
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        /* padding: 0 2vw; */
    }

    .container h1 {
        margin-left: 0 !important;
        margin-top: 100px !important;
    }

    .text-block {
        width: 100% !important;
        padding: 0 1vw;
        margin-right: 4vw;
    }

}


.model {
    position: absolute;
    /* border: 2px solid pink; */
}

.container h1 {
    /* margin-top: 200px; */
    /* margin-left: 150px; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
    /* position: absolute; */

    font-family: 'Orbitron', sans-serif;
    font-size: 7.5rem;
    margin-top: 96px;
    margin-bottom: 50px;
    text-transform: uppercase;
}


.empty-block {
    /* width: 50%; */
    min-width: 300px;
    min-height: 500px;
}

.text-block {
    width: 50%;
    padding-right: 4vw;

    font-family: 'Raleway', sans-serif;
}

.text-block p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 35px;
    opacity: 0.9;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.block_image {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.image-box {
    width: 30%;
}

.image-box span {
    margin-top: 1rem;
    text-align: left;
    font-size: 12px;
    font-family: ;
    display: block;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: lightgrey;
    opacity: 0.7;
}

.box {
    width: 140px;
    aspect-ratio: 1;
    /* margin: 0 auto; */

    /* margin: 5em; */
    box-sizing: border-box;
    /* height: 50px; */
    background-color: #1A1A1A;
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 40%;
}

button {
    width: 280px;
    height: 60px;
    border-radius: 20px;
    border: 0;
    margin-top: 50px;
    background-color: #EAFC52;
    color: black;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

test {
    color:0xf0f8ff;
}

/* loading bar */

.progressbar-container {
    position: absolute;
    background-color: #0c0c0e;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-family: 'Orbitron', monospace;
}

.progress-bar-alt {
    position: relative;
    background-color: #333;
    width: 300px;
    height: 30px;
    transform: skew(30deg);
    /* z-index:  */

}

.progress-bar-alt:before {
    --width: calc(var(--p) * 1%);

    position: absolute;

    content: '';
    top: 0;
    left: 0;
    /* width: calc(var(--p) * 1%); */
    z-index: 0;
    background-color: #EAFC52;
    width: 0;
    height: 100%;
    animation: load .5s forwards linear, glitch 2s infinite linear;
}

.progress-bar-alt:after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
}

.progress-bar-alt_label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
}

@keyframes load {
    to {
        width: var(--width);
    }
}

@keyframes glitch {
    0%, 5% {
      transform: translate(0, 0);
    }
    1% {
      transform: translate(-5%, -10%);
    }
    2% {
      transform: translate(10%, 30%);
    }
    3%{
      transform: translate(-43%, 10%);
    }
    4% {
      transform: translate(2%, -23%);
    }
  }

.progressbar {
    /* position: ; */
    color: #EAFC52;
    /* background-color: #EAFC52; */
    width: 15%;
    height: 30px;
}

.progressbar-container label {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    text-align: center;
    /* transform: skewX(30deg); */
}

#progressbar {
    box-shadow: 0;
    border-radius: 0;
    /* background-color: #EAFC52; */
}

progress {
    padding-right: 20px;
    height: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EAFC52;
    background: white;
    border: 0;
    transform: translateY(-10px);
}



.progressbar-loaded {
    display: none;
}

.cursor-container-loading {
    display: none;
}

.text-block_default {
    display: none;
}




.empty-block {
  /* width: 50%; */
  min-width: 300px;
  min-height: 500px;
}

.text-block {
max-width: 650px;
  width: 100%;
  padding-right: 4vw;

}

.text-block p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + (23 - 12) * ((100vw - 420px) / (1980 - 420)));
  line-height: 27px;
  opacity: 0.9;
  margin-bottom: 40px;
 
}
.text-block h1 {

  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: calc(55px + (115 - 55) * ((100vw - 420px) / (1980 - 420)));
  line-height: 142px;
  text-transform: uppercase;
}

.block_image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.image-box {
  max-width: 185px;
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px ;
  margin-bottom: 55px;
}

.image-box span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: calc(13px + (20 - 13) * ((100vw - 420px) / (1980 - 420)));
  line-height: 23px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: inline-block;
}

.intro-box {
  max-width: 130px;
  width: 100%;
  aspect-ratio: 1;
  /* margin: 0 auto; */

  /* margin: 5em; */
  box-sizing: border-box;
  /* height: 50px; */
  background-color: #1A1A1A;
  border-radius: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-box img {
  width: 40%;
}
@media(max-width: 1921px){
  .text-block p {
    font-size: 23px;
      }
}
@media (max-width: 1121px){
.text-block{
  max-width: 100%;
}
.text-block h1{
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: -485px;
  text-align: center;
}
.model-container{
  width: 100%;
}

.text-block p{
  margin-bottom: 30px;
  line-height:1;
}
}

@media only screen and (max-width: 500px) {
  .text-block {
      width: 100% !important;
      padding: 0 1vw;
      margin-right: 4vw;
  }

}
